<div class="container">


   
		 <nav>
					  <ul class="pager">
					    <li class="previous"><a href="{{'#'+routePath}}"><span aria-hidden="true">&larr;</span> Back </a></li>
					    <li class="next disabled"><a href="{{'#'+ routePath + '/history'}}">History <span aria-hidden="true">&rarr;</span></a></li>
					  </ul>
			 </nav>
		<div class="row">

			

			 <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning  ui-grid-move-columns  ui-grid-pagination
			 class="grid"></div>
		</div>
</div>