<div class="modal-header">
            <h3 class="modal-title">Confirm Changes?</h3>
        </div>
        <div class="modal-body">
            <span ng-show="data.adds >0 || data.del > 0 || data.updates > 0">The following changes were detected</span>
             <span ng-show="data.adds === 0 &&  data.del === 0 && data.updates === 0">No changes detected!!</span>
            <ul>
                <li ng-show="data.adds > 0">
                   There were {{data.adds}} addition(s).
                </li>

                <li ng-show="data.del > 0">
                   There were {{data.del}} deletion(s).
                </li>

                <li ng-show="data.updates > 0">
                   There were {{data.updates}} update(s).
                </li>
            </ul>
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()" ng-show="data.adds >0 || data.del > 0 || data.updates > 0"> OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>